<div id="home-page">
    <h2>Contact List</h2>
    <div id="table"></div>
</div>


<div id="add-page">
    <h3>New Contact</h3>
    <hr>
    <div id="name-group">
        <label for="name">Name</label><br>
        <input type="text" name="name" placeholder="Your name">
    </div>

    <div id="email-group">
        <label for="email">Email</label><br>
        <input type="text" name="email" placeholder="Your email">
    </div>

    <div id="phone-group">
        <label for="phone">Phone</label><br>
        <input type="text" name="phone" placeholder="Your phone">
    </div>

    <!-- create a user -->
    <button id="add-submitButton">Submit</button>
</div>


<div id="detail-page"></div>



<div id="edit-page">
    <h3>Edit Contact</h3>
    <hr>
    <div id="edit-name-group">
        <label for="name">Name</label><br>
        <input type="text" name="edit-name">
    </div>

    <div id="edit-email-group">
        <label for="email">Email</label><br>
        <input type="text" name="edit-email">
    </div>

    <div id="edit-phone-group">
        <label for="phone">Phone</label><br>
        <input type="text" name="edit-phone">
    </div>

</div>

